<!DOCTYPE html>
<html>
  <head>
    <title>Todolist</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <%= yield %>
    <p class="notice mt-2"  style="text-align: center; font-size: x-large"><%= notice %></p>
    <p class="alert mt-2" style="text-align: center; font-size: x-large"><%= alert %></p>
  </body>
</html>
